.projects{
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}

.projects button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid var(--light-purple);
    border-radius: 15px;
    width: 30vw;
    height: 75vh;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.projects button:hover{
    font-size: 12px
}

.projects button h1{
    font-weight: 300;
}

.icon-p{
    opacity: 70%;
    font-size: 150px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card{
    margin: 30px;
    width: 80vw;
    padding: 50px;
    border: 2px solid var(--light-purple);
    border-radius: 10px;
}

.design-card{
    margin: 30px;
    width: 700px;
    padding: 50px;
    border: 2px solid var(--light-purple);
    border-radius: 10px;
}

.p-infos{
    display: flex;
    margin-top: 20px;
}

.p-infos img{
    height: 300px;
}

.p-infos p{
    text-align: justify;
}

.p-infos-right{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-left: 20px;
    justify-content: space-evenly;
    align-items: center;
}

#buttons{
    display: flex;
    gap: 16px;
}